<footer id="foot" >
    <div class="progress" id="mydiv">
        <p class="progress_bar" id="mybar"> </p>
        <p class="progress_bg" id="mybg"> </p>
    </div>
    <div class="playarea">
        <form  id="comitfoot" action="foot" method="get">
            <span id="prev" class="iconfont icon-prev" onClick="formSubmitfoot(0)" ></span>
            <span id="pause" class="iconfont icon-stop-playing" onClick="formSubmitfoot(1)"></span>
            <span id="next" class="iconfont icon-xiayishou" onClick="formSubmitfoot(2)"></span>
            <span id="way" class="iconfont icon-biao-" onClick="formSubmitfoot(3)"></span>
            <span id="like" class="iconfont icon-xiai1" onClick="formSubmitfoot(4)"></span>
            <input id="footnowid" type="text" name="nowid" value="" style="display: none">
            <input id="footidentify" type="text" name="identfy" value="" style="display: none">
            <input id="footcomit" type="text" name="id" value="0" style="display: none">
        </form>
    </div>

</footer>
