<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fycmusic</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css">
    <link type="text/css" rel="stylesheet" href="css/index.css" />
    <script type="text/ecmascript" src="js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="js/fycmusic.js"></script>
</head>
<body>
<%- include('toper.html')%>
    <div class="style-4" id="menubar" >
        <form  id="comit" action="operation" method="get">
            <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
            <nav class="nav" >
                <hr /><br><br>
                <div class="nav__item" onClick="formSubmit(1)"><a href="#">播放页</a></div>
                <br><br>
                <div class="nav__item" onClick="formSubmit(2)"><a href="#">关于</a></div>
                <br><br>
                <div class="nav__item" onClick="formSubmit(3)"><a href="#">登录</a></div>
                <br><br><hr />
            </nav>
            <input id="bucomit" type="text" name="id" value="1" style="display: none">
        </form>
    </div>

<!--    <div id="musicplay" style="display: none">-->
<!--       <%-audiodata%>-->
<!--    </div>-->
</body>
</html>